:root {
  --primary-color: #356fa1;
  --secondary-color: #faa61a;
  --success-color: #3c9d5d;
  --error-color: #d64541;
  --background-color: #f1f6fb;
  --surface-color: #ffffff;
  --text-color: #333333;
  --text-secondary: #556776;
}
